#detail {
    width: 100%;
    height: 100%;
    display: flex;
}

.song-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 350px;
    height: 350px;
    border-radius: 7px;
}

.song-lyrics {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}